.Button {
  cursor: pointer;
  appearance: none;
  border-radius: 5px;
  border: 0;
  color: #fff;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  vertical-align: middle;
}

.Button,
.Button--primary {
  background: #0064ff;
}

.Button:hover,
.Button--primary:hover {
  background: #408cff;
  color: #fff;
}

.Button--success {
  background: #00b552;
}

.Button--success:hover {
  background: #00e868;
  color: #fff;
}

.Button--danger {
  background: #ff4600;
}

.Button--danger:hover {
  background: #ff7642;
  color: #fff;
}

.Button--neutral {
  background: #555555;
}

.Button--neutral:hover {
  background: #777777;
  color: #fff;
}

.Button:disabled,
.Button--success:disabled,
.Button--danger:disabled {
  cursor: initial;
  background: #333;
  color: #777;
}
